
<!--=======================================================================|
| Red Path                   DONE!!!                                       |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los autores de los posts.           |
|========================================================================-->

<!--=======================================================================|
| Green Path         DONE!!!                                               |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los posts.                          |
|========================================================================-->

<app-post-preview *ngFor="let post of posts" (onAuthorClick)="showAuthorPosts($event)" (onClickPost)="showPost($event)" [post]="post"></app-post-preview>
